* {
  --main-background-color: #100F0F;
  --secondary-background-color: #0F3D3E;
  --main-text-color: #E2DCC8;
  --secondary-text-color: #F1F1F1;
  --php-proficiency: 56%;
  --html-proficiency: 53%;
  --mysql-proficiency: 45%;
  --js-proficiency: 40%;
  --jquery-proficiency: 36%;
  --css-proficiency: 19%;
  --react-proficiency: 15%;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
}

/* Main container */
body > div#root > div.main-container {
  display: flex;
  flex-direction: column;
}

/* Sections */
div.main-container > div.section {
  display: inherit;
  flex-direction: inherit;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div.main-container > div.section:nth-child(odd) {
  background-color: var(--secondary-background-color);
}

/* Navigation */
div.main-container > div.navigation {
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translate(0%, -50%);
  display: inherit;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: inherit;
  text-align: center;
}

div.main-container > div.navigation > div {
  cursor: pointer;
  margin-top: 2px;
  margin-bottom: 2px;
}

div.main-container > div.section.skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div.main-container > div.section.skills > div.subsection {
  width: 50%;
  display: inherit;
  flex-direction: column;
  align-items: inherit;
  justify-content: inherit;
}

/* Single technology */
div.section.skills > div.subsection > div.technology {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

/* Technology logo */
div.section.skills > div.subsection > div.technology > div:nth-child(1) > img {
  height: 10px;
}

/* Technology bar */
div.section.skills > div.subsection > div.technology > div:nth-child(2) {
  width: 80%;
  border: 2px solid var(--main-text-color);
  border-radius: 10px;
}

/* Technology bar filling */
div.section.skills > div.subsection > div.technology > div:nth-child(2) > div {
  background-color: var(--main-text-color);
  height: 100%;
  border-radius: inherit;
  box-shadow: 1px 1px 2px var(--main-text-color), -2px -2px 5px var(--main-text-color);
}

div.section.skills > div.subsection > div.technology
> div:nth-child(2).technology-bar.technology-bar-php
> div.technology-bar-filling {
  width: var(--php-proficiency);
  animation: php-animate 0.5s linear;
}

@keyframes php-animate {
  from {
    width: 0%;
  }
  to {
    width: var(--php-proficiency);
  }
}

div.section.skills > div.subsection
> div.technology > div:nth-child(2).technology-bar.technology-bar-html
> div.technology-bar-filling {
  width: var(--html-proficiency);
  animation: html-animate 0.5s linear;
}

@keyframes html-animate {
  from {
    width: 0%;
  }
  to {
    width: var(--html-proficiency);
  }
}

div.section.skills > div.subsection
> div.technology > div:nth-child(2).technology-bar.technology-bar-mysql >
div.technology-bar-filling {
  width: var(--mysql-proficiency);
  animation: mysql-animate 0.5s linear;
}

@keyframes mysql-animate {
  from {
    width: 0%;
  }
  to {
    width: var(--mysql-proficiency);
  }
}

div.section.skills > div.subsection
> div.technology > div:nth-child(2).technology-bar.technology-bar-js >
div.technology-bar-filling {
  width: var(--js-proficiency);
  animation: js-animate 0.5s linear;
}

@keyframes js-animate {
  from {
    width: 0%;
  }
  to {
    width: var(--js-proficiency);
  }
}

div.section.skills > div.subsection
> div.technology > div:nth-child(2).technology-bar.technology-bar-jquery >
div.technology-bar-filling {
  width: var(--jquery-proficiency);
  animation: jquery-animate 0.5s linear;
}

@keyframes jquery-animate {
  from {
    width: 0%;
  }
  to {
    width: var(--jquery-proficiency);
  }
}

div.section.skills > div.subsection
> div.technology > div:nth-child(2).technology-bar.technology-bar-css >
div.technology-bar-filling {
  width: var(--css-proficiency);
  animation: css-animate 0.5s linear;
}

@keyframes css-animate {
  from {
    width: 0%;
  }
  to {
    width: var(--css-proficiency);
  }
}

div.section.skills > div.subsection
> div.technology > div:nth-child(2).technology-bar.technology-bar-react >
div.technology-bar-filling {
  width: var(--react-proficiency);
  animation: react-animate 0.5s linear;
}

@keyframes react-animate {
  from {
    width: 0%;
  }
  to {
    width: var(--react-proficiency);
  }
}

div.main-container > div:last-child 
> div.carousel > div.projects {
  position: relative;
}

div.main-container > div:last-child
> div.carousel > div.projects > div {
  color: black;
  position: absolute;
  height: 60%;
  width: 20%;
}

div.main-container > div:last-child
> div.carousel > div.projects > div:nth-child(1) {
  background-color: red;
  transform: scale(0.5);
  left: 0;
}

div.main-container > div:last-child
> div.carousel > div.projects > div:nth-child(2) {
  background-color: green;
  left: 50%;
  transform: translate(-50%);
}

div.main-container > div:last-child
> div.carousel > div.projects > div:nth-child(3) {
  background-color: yellow;
  transform: scale(0.5);
  right: 0;
}

/* Section carousel arrows */
div.main-container > div:last-child > div.carousel > div:not(:nth-child(2)) {
  cursor: pointer;
}